root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.t]
trim_trailing_whitespace = false

[dune,dune-project]
indent_size = 1
